


* {
    background-color: hsl(225, 100%, 94%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    position: absolute;
    
}

section {
   background-color: white;
   text-align: center;
   border-radius: 15px;
}

span {
    text-align: right;
    padding-left:75px;
}

/* table grid */

div {
    background-color: white;

}
.order-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 20px 25px 20px;
}
.music-img {
    grid-column: 1/2;
    grid-row: 1/2;
    border-radius: 90%;
}
.annual-plan {
    font-weight: 700;
    text-align: left;
    line-height: 150%;
}
.cost {
    text-align: left;
    line-height: 0%;
}

a {
    background-color: white;
}

svg {
    border-radius: 15px 15px 0 0;
}

h1 {
    font-size: large;
    background-color: white;
    font-weight: 900;
}

h2 {
    font-size: small;
}
p {
    background-color: white;
    font-weight: 400;
    margin-left: 70px;
    margin-right: 70px;
}
a {
    font-weight: bold;
    color: purple;

}
/* buttons */
button {
    padding: 8px 45px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    
}

.proceed {
    background-color:  hsl(245, 75%, 52%);
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 
}
.cancel {
    background-color: white;
    color: grey;
}
#bold-td {
    font-weight: bold;
}
.dummy-link, .attribution {
    background-color: hsl(225, 100%, 94%);
}